#snowmanhead {
  position: relative;
  padding: 20px;
  margin: auto;
  width: 300px;
  height: 240px;
  border-radius: 200px/200px;
}

#snowmanbody {
  position: relative;
  padding: 30px;
  margin: auto;
  width: 400px;
  height: 340px;
  border-radius: 200px/200px;
}

#eye-left {
  position: absolute;
  top: 100;
  left: 100;
}

#eye-right {
  position: absolute;
  top: 100;
  left: 200;
}

#nose {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid orange;
  position: absolute;
  top: 160px;
  left: 140px;
  z-index: 10;
}

.eye {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px/20px;
  background-color: white;
}

.pupil {
  background-color: transparent;
  left: 10px;
  top: 20px;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px/10px;
}

.pupil-inner {
  background-color: black;
  position: relative;
  right: -5px;
  width: 18px;
  height: 18px;
  border-radius: 10px/10px;
}
.white {
  background-color: lightgray;
}

.black {
  background-color: black;
}